
@media (prefers-color-scheme: dark) {
  :root, * {
    --background-color: #1c1c1e;
    --foreground-color: white;
    --neutral-1: 255, 255, 255;
    --neutral-2: 0, 0, 0;
    --accent-1: 60, 100, 240;
    --accent-1b: 70, 110, 250;
    --base-0: 0, 0, 2;
    --base-1: 15, 15, 15;
    --base-2: 25, 25, 25;
    --base-3: 35, 35, 35;
    --base-4: 45, 45, 45;
    --functional-blue: 20, 120, 220;
    --functional-red: 220, 40, 40;
    --functional-yellow: 220, 160, 40;
    --functional-green: 40, 160, 40;
    --text-1: rgba(255, 255, 255, .90);
    --text-2: rgba(255, 255, 255, .60);
    --text-3: rgba(255, 255, 255, .20);
    --shadow-1: 0 2px 8px rgba(255, 255, 255, .2), 0 1px 4px rgba(255, 255, 255, .15);
  }
  
  body {
    background: var(--background-color);
    color: var(--foreground-color);
  }
}
